@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="font-family:Corbel">
            <li>
                @Html.ActionLink(User.Identity.GetUserName(), "", "", new { style = "pointer-events: none;" }) @*non-clickable link*@
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"> <span class="glyphicon glyphicon-log-out"></span> ይውጡ</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right" style="font-family:Corbel">
        @*<li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>*@
        <li>@Html.ActionLink("ይግቡ", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
