<div class="jumbotron">
    <div class="row">
        <div align="center">
            <div class="hometext" style="font-size: xx-large; font-family: 'Power Geez Unicode3'; color: black">የጌጃ ቃለ ሕይወት ቤተክርስቲያን</div>
            <div class="hometext" style="font-size: x-large; color: black">Geja Kale Hiwot Church</div>
            <img src="~/images/geja_khc.png" alt="GEJA LOGO" class="homelogo" height="320">

            <div class="hometext" style="font-size:x-large; color: #ef5821">Members Data Management System</div>
            <div class="hometext" style="font-size: large">Web API has started running...</div>
        </div>
    </div>
</div>
